<% include header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                    <div class="container">
                        <h1 class="display-4 text-center">
                            Welcome to E-Agriculture
                            <hr>
                        <img style="margin: 0 auto; display:block; width: 100%;" src="/images/home.jpg">                            
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>